/*******************************************************************************
 Copyright 2013-2017 Ellucian Company L.P. and its affiliates.
 *******************************************************************************/
.placeholder-theme-name {
  content:  $themename;
}

:focus {
  outline-color: $themecolor3-4;
}
/*** Branding Logo ***/
.institutionalBranding {
  background-image: url("$themelogo");
}

.notification-center-count {
  color: #FFFFFF;
}

/*** Tweaks to base UI */
#header-main-section-east-part #username {
  padding-right:0.5em; /* space after name */
}
#header-main-section-east-part #mepDiv {
  padding-left:0.5em;
}
.institutionalBranding {
  width: 20em;
}

#header-main-section-east-part #mepDiv,
#header-main-section-east-part #signInButton,
#header-main-section-east-part #userDiv,
#header-main-section-east-part #toolsButton {
  border-left: 0px; /*!! Removed 1px unneeded line  */
}

#toolsList .canvas-item:hover,
#toolsList .canvas-item:focus {
  background-color: $themecolor3-5 ;
}

/** Page Builder */
.admin-menu-section-main {
  border-color: $themecolor1-2; /*#9AC0D2*/
}
.admin-menu {
  color: $themecolor1-3; /*#206E9F;*/
}

.admin-menu-section-sub>div:first-of-type {
  border-right-color: $themecolor1-2; /*#9AC0D2*/
}

.admin-menu-section-sub {
  border-color: $themecolor1-2; /*#9AC0D2*/
}
.app-list-container {
  border: 1px solid $themecolor1-2;
}


.admin-menu-section-main {
  border-color: $themecolor1-2; /*#9AC0D2*/
}

@media (max-width: 991px) {
  .admin-menu-section-sub>div:first-of-type {
    border-bottom-color: $themecolor1-2; /*#9AC0D2*/
  }
  border-bottom-color: $themecolor1-2; /*#9AC0D2*/
  border-right-color: $themecolor1-2; /*#9AC0D2*/
  border-left-color: $themecolor1-2; /*#9AC0D2*/
}

@media (min-width: 992px) {
  .admin-menu-section-sub>div:first-of-type {
    border-right-color: $themecolor1-2; /*#9AC0D2*/
  }
}

.app-list-container>div {
  border-top-color: $themecolor1-2; /*#9AC0D2*/
}

#toolsList .canvas-item:hover,
#toolsList .canvas-item:focus {
  background-color: $themecolor3-5 ;
}

*, h1, h2, h3, h4, h5, h6, p, a, span, div, input, select, textarea, dt, dl, dd, ul, label  {
  color: #4F585F;
}

.btn-primary  {
  background-color: $themecolor1-2 !important;
  border-color: $themecolor1-2; /*#206E9F*/
  color: #ffffff !important;
  box-shadow: $themecolor1-2 0px -4px 0px 0px inset;
}

#breadcrumb-panel, #title-panel {
  background-color: #F9FAFB;
}

#header-main-section-east-part #userDiv {
  background-color: $themecolor1-2; /*#1b6496*/
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus  {
  background-color: $themecolor1-2;
}

.nav-pills > li.active > a span,
.nav-pills > li.active > a:hover span,
.nav-pills > li.active > a:focus span {
  color: #FFFFFF;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited  {
  color: #f2f2f2; /*#333333*/
}