/*Copyright 2008 Ellucian Company L.P. and its affiliates.*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Core set */
@font-face {
  font-family: 'OpenSans-light';
  src: url("fonts/opensans-light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-light.woff") format("woff"), url("fonts/opensans-light.ttf") format("truetype"), url("fonts/opensans-light.svg#open_sanslight") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'OpenSans-regular';
  src: url("fonts/opensans-regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular.woff") format("woff"), url("fonts/opensans-regular.ttf") format("truetype"), url("fonts/opensans-regular.svg#open_sansregular") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'OpenSans-semibold';
  src: url("fonts/opensans-semibold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold.woff") format("woff"), url("fonts/opensans-semibold.ttf") format("truetype"), url("fonts/opensans-semibold.svg#open_sanssemibold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'OpenSans-bold';
  src: url("fonts/opensans-bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-bold.woff") format("woff"), url("fonts/opensans-bold.ttf") format("truetype"), url("fonts/opensans-bold.svg#open_sansbold") format("svg");
  /* Legacy iOS */ }

/* global font details */
.font-semibold {
  font-family: "OpenSans-semibold"; }

.font-regular {
  font-family: "OpenSans-regular"; }

/* input text field details*/
body, html {
  font-size: 100%;
  font-family: "OpenSans-regular"; }

div.spacer {
  margin: 0.35em; }

.xe-label label {
  size: 1em;
  color: #4F585F;
  font-weight: normal; }

xe-badge .xe-badge {
  font-size: 0.875em;
  height: 1.5em;
  border-radius: 1.5em;
  padding: 0.5em 0.86em;
  color: #4F585F; }

xe-badge .draft-badge {
  background-color: #F5F2E7;
  color: #8A6A00; }

xe-badge .pending-badge {
  background-color: #EAE6FF;
  color: #5745BE; }

xe-badge .rejected-badge {
  background-color: #FFEEED;
  color: #D42828; }

xe-badge .approved-badge {
  background-color: #EAF7F2;
  color: #00804D; }

xe-badge .expired-badge {
  background-color: #F4F4F4;
  color: #5B5E65; }

xe-badge .awaiting-badge {
  background-color: #EFF7FF;
  color: #2874BB; }

xe-button .primary:hover:not([disabled]) {
  background-color: #065AA5;
  border: none; }

xe-button .primary:focus:not([disabled]) {
  border: 2px solid #81C8FF;
  -ms-user-select: none;
  outline: none; }

xe-button .primary {
  font-size: 0.875em;
  background-color: #026BC8;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0.875em 5.75em;
  border: none; }

xe-button .secondary {
  font-size: 0.875em;
  background-color: #FFFFFF;
  border: 1px solid #026BC8;
  color: #026BC8;
  border-radius: 4px;
  padding: 0.875em 5.75em; }

xe-button .primary:hover:not([disabled]) {
  font-size: 0.875em;
  background-color: #065AA5;
  border: none; }

xe-button .secondary:hover:not([disabled]) {
  background-color: #065AA5;
  border: none;
  color: #FFFFFF; }

xe-button .secondary:focus:not([disabled]) {
  border: 1px solid #81C8FF;
  -ms-user-select: none;
  background-color: #026BC8;
  color: #FFFFFF;
  outline: none; }

xe-button .primary:disabled {
  background-color: #B2B3B7;
  color: #FFFFFF;
  border: none; }

xe-button .secondary:disabled {
  background-color: #B2B3B7;
  color: #FFFFFF;
  border: none; }

xe-button .primary:active:not([disabled]) {
  background-color: #0A4982;
  border: none; }

xe-button .secondary:active:not([disabled]) {
  background-color: #0A4982;
  border: none; }

.checkbox-label {
  cursor: pointer; }

.xe-container {
  display: table;
  position: relative;
  padding-top: 6px;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;
  word-break: break-word;
  line-height: 1.2; }

/* Hide the browser's default checkbox */
.xe-container input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px; }

/* Create a custom checkbox */
.xe-checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border: 1px solid #B2B3B7;
  border-radius: 4px; }

/* When the checkbox is checked, add a blue background */
.xe-container input:checked ~ .xe-checkmark {
  background-color: #026BC8;
  border: 1px solid #026BC8;
  border-radius: 4px; }

.xe-container input:focus:checked ~ .xe-checkmark {
  background-color: #026BC8;
  border: 1px solid #51ABFF;
  border-radius: 4px; }

.xe-container input:focus ~ .xe-checkmark {
  background-color: #FFFFFF;
  border: 1px solid #51ABFF;
  border-radius: 4px; }

.xe-container input:disabled ~ .xe-checkmark {
  background-color: #F7F7F7;
  border: 1px solid #B2B3B7; }

/* Css for selected checkbox disabled */
.xe-container input:disabled:checked ~ .xe-checkmark {
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9; }

/* Create the checkmark/indicator (hidden when not checked) */
.xe-checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.xe-container input:checked ~ .xe-checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.xe-container .xe-checkmark:after {
  height: 20px;
  bottom: 0px;
  background: url(images/checkbox/tick.svg);
  width: 20px; }

xe-dropdown .dropdown {
  color: #4F585F;
  border: 2px solid #869FB1;
  box-shadow: inset 0px -4px #DEE5E7;
  width: 18.75em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1em 0.75em;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline: 0; }
  xe-dropdown .dropdown:focus {
    background-color: #FFFFFF;
    border: 2px solid #206E9F; }
  xe-dropdown .dropdown .placeholder {
    color: #869FB1;
    font-family: "OpenSans-regular";
    float: left; }
  xe-dropdown .dropdown .glyphicon-chevron-down {
    color: #869FB1;
    float: right; }
  xe-dropdown .dropdown .dropdown-menu {
    width: 18.75em;
    border: 2px solid #206E9F;
    box-sizing: border-box;
    font-family: "OpenSans-regular"; }
    xe-dropdown .dropdown .dropdown-menu > li {
      line-height: 2.75em;
      padding-left: 10px; }
      xe-dropdown .dropdown .dropdown-menu > li.active {
        background-color: #F1F7FB; }
      xe-dropdown .dropdown .dropdown-menu > li:hover {
        outline: 1px solid #B0DEEC;
        background-color: #F3FCFF; }
      xe-dropdown .dropdown .dropdown-menu > li.selected {
        font-family: "OpenSans-regular";
        outline: 1px solid #B0DEEC;
        background-color: #F3FCFF; }

xe-status-label .labels {
  font-family: "OpenSans-semibold";
  font-size: 0.75em;
  border-radius: 0.125em;
  height: 1.5em;
  text-align: center;
  box-sizing: content-box;
  display: inline-block;
  min-width: 4.5em;
  padding: .65em .5em; }

xe-status-label td .labels {
  font-size: 0.857em; }

xe-status-label .draft {
  color: #8A6A00;
  background-color: #F5F2E7;
  background: linear-gradient(225deg, transparent 0.5em, #F5F2E7 0) top right;
  background-repeat: no-repeat; }

xe-status-label .pending {
  color: #5745BE;
  background-color: #EAE6FF;
  background: linear-gradient(225deg, transparent 0.5em, #EAE6FF 0) top right;
  background-repeat: no-repeat; }

xe-status-label .rejected {
  color: #D42828;
  background-color: #FFEEED;
  background: linear-gradient(225deg, transparent 0.5em, #FFEEED 0) top right;
  background-repeat: no-repeat; }

xe-status-label .approved {
  color: #00804D;
  background-color: #EAF7F2;
  background: linear-gradient(225deg, transparent 0.5em, #EAF7F2 0) top right;
  background-repeat: no-repeat; }

xe-status-label .default {
  color: #956130;
  background-color: #FFFFFF; }

xe-status-label .awaiting {
  color: #2874BB;
  background-color: #EFF7FF;
  background: linear-gradient(225deg, transparent 0.5em, #EFF7FF 0) top right;
  background-repeat: no-repeat; }

xe-status-label .not-started {
  color: #5B5E65;
  background-color: #F4F4F4;
  background: linear-gradient(225deg, transparent 0.5em, #F4F4F4 0) top right;
  background-repeat: no-repeat; }

xe-radio-button .radio-container {
  display: inline-block; }

xe-radio-button .radio-container input[type="radio"] {
  display: none; }

xe-radio-button input[type="radio"] + label {
  padding-left: 30px;
  background-size: 1.3em;
  line-height: 172%;
  cursor: pointer;
  color: #151618;
  background-image: url(images/radiobutton/radio-button-normal.svg);
  background-repeat: no-repeat;
  background-position: left center; }

xe-radio-button input[type="radio"]:checked + label {
  padding-left: 30px;
  background-size: 1.3em;
  line-height: 172%;
  cursor: pointer;
  color: #151618;
  background-image: url(images/radiobutton/radio-button-selected.svg);
  background-repeat: no-repeat;
  background-position: left center; }

xe-radio-button .disabledRadio + label {
  cursor: default !important;
  background-image: url(images/radiobutton/radio-button-disabled.svg) !important;
  background-repeat: no-repeat;
  background-position: left center;
  color: #151618; }

xe-radio-button .label {
  color: #151618; }

xe-switch .cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

xe-switch .cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

xe-switch input.cmn-toggle-round + label {
  padding: 2px;
  width: 2.75em;
  height: 1.6em;
  border-radius: 60px; }

xe-switch input.cmn-toggle-round + label:before {
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  content: "";
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

xe-switch input.cmn-toggle-round + label:after {
  width: 1.5em;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  content: "";
  right: 0px;
  left: 0px; }

xe-switch input.cmn-toggle-round + label:before {
  right: 0px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 60px;
  transition: background 0.4s; }

xe-switch input.cmn-toggle-round:checked + label:before {
  background-color: #026BC8;
  border: 1px solid #81C8FF; }

xe-switch input.cmn-toggle-round:checked + label:after {
  border: 1px solid #81C8FF;
  margin-right: 1.4em;
  margin-left: 1.4em; }

xe-switch input.disabledSwitch:checked + label:before {
  cursor: default;
  color: #151618;
  border: 1px solid #B2B3B7;
  background-color: #B2B3B7;
  box-shadow: none; }

xe-switch input.disabledSwitch:checked + label:after {
  cursor: default;
  background-color: #F7F7F7;
  border: 1px solid #B2B3B7;
  box-shadow: none; }

xe-switch input.disabledSwitch + label:before {
  cursor: default;
  color: #151618;
  border: 1px solid #B2B3B7;
  background-color: #B2B3B7;
  box-shadow: none; }

xe-switch input.disabledSwitch + label:after {
  cursor: default;
  background-color: #F7F7F7;
  border: 1px solid #B2B3B7;
  box-shadow: none; }

xe-switch .section {
  margin-top: 1.25em; }

xe-switch .label {
  color: #4F585F; }

xe-text-area {
  font-size: 16px; }
  xe-text-area .xe-label {
    font-family: OpenSans-regular;
    size: 1em;
    color: #4F585F;
    font-weight: normal; }
  xe-text-area .comments-field {
    font-size: 0.875em;
    width: 18.75em;
    height: 8.125em;
    border-radius: 0.25em;
    border: 1px solid #B2B3B7;
    padding: 0.75em;
    background-color: #FFFFFF;
    resize: none;
    line-height: 172%;
    -webkit-box-sizing: initial;
    font-family: OpenSans-semibold; }
  xe-text-area .readonly {
    background-color: #F7F7F7;
    border: 1px solid #151618;
    color: #5B5E65;
    opacity: 1;
    outline: none; }
  xe-text-area textarea:focus {
    border: 1px solid #026BC8;
    color: #151618;
    outline: none; }
  xe-text-area #xe-id-characters-count {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-family: OpenSans-semibold; }
  xe-text-area .section {
    margin-top: 1.25em; }
  xe-text-area .label {
    color: #4F585F; }
  xe-text-area .container {
    margin-left: 20px; }

.textarea-char-accessible {
  clip: rect(1px 1px 1px 1px);
  /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  /* added line */
  width: 1px; }

xe-text-box {
  font-size: 16px; }
  xe-text-box .xe-label {
    font-family: OpenSans-regular;
    size: 1em;
    color: #4F585F;
    font-weight: normal; }
  xe-text-box .text-field {
    width: 18.75em;
    border-radius: 4px;
    border: 1px solid #B2B3B7;
    padding: 1em 0.75em !important;
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: OpenSans-semibold;
    font-size: 0.875em;
    text-align: left; }
  xe-text-box .password-field:focus {
    border: 1px solid #206E9F;
    color: #4F585F; }
  xe-text-box .password-field {
    width: 18.75em;
    border-radius: 4px;
    border: 1px solid #B2B3B7;
    padding: 1em 0.75em !important;
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    background-color: #FFFFFF;
    font-size: 0.875em;
    text-align: left; }
  xe-text-box .text-field:focus:not([valid]) {
    border: 1px solid #026BC8;
    color: #151618;
    outline: none; }
  xe-text-box .readonly {
    background-color: #F7F7F7;
    border: 1px solid #151618;
    color: #5B5E65;
    opacity: 100%; }
  xe-text-box .disabled {
    border: 1px solid #151618;
    color: #5B5E65;
    background-color: #F7F7F7; }
  xe-text-box .valid {
    background-color: #E8FFF1;
    color: #090A0D !important;
    border: 1px solid #1C8445;
    box-shadow: inset 4px 4px 4px #C3EED4;
    background-image: url(images/checkmark.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% 50%; }
  xe-text-box input.ng-invalid.ng-touched, xe-text-box input.ng-invalid.ng-invalid-maxlength {
    background-color: #FFFFFF;
    color: #151618 !important;
    border: 1px solid #FF3030 !important; }
  xe-text-box .error-messages.ng-active {
    color: #E32D27;
    font-family: "OpenSans-regular";
    padding-top: 0.875em;
    font-size: 0.875em; }
  xe-text-box #xe-id-max-characters {
    padding-bottom: 0.5em;
    padding-left: 2.5em;
    font-family: OpenSans-semibold; }
  xe-text-box .xe-labeltext-margin {
    margin: .5em; }

.text-box-char-accessible {
  clip: rect(1px 1px 1px 1px);
  /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  /* added line */
  width: 1px; }

xe-simple-text-box {
  /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 769px
    and also iPads specifically.
    */ }
  xe-simple-text-box .simple-input-field {
    width: 18.75em;
    border-radius: 4px;
    border: 1px solid #B2B3B7;
    padding: 0.75em;
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    background-color: #FFFFFF;
    font-size: 0.875em;
    font-family: "OpenSans-semibold"; }
  xe-simple-text-box .simple-input-field::-ms-clear {
    display: none; }
  xe-simple-text-box .label {
    color: #151618; }
  xe-simple-text-box .simple-input-field:focus {
    border: 1px solid #026BC8;
    color: #151618;
    outline: none; }
  xe-simple-text-box .readonly {
    background-color: #F7F7F7;
    border: 1px solid #151618;
    color: #5B5E65;
    opacity: 100%; }
  xe-simple-text-box .auto-width {
    width: 100%; }
  @media only screen and (max-width: 768px) {
    xe-simple-text-box .input-field {
      width: 80%; } }

.xe-typography .headings, .xe-typography .lists, .xe-typography .inline, .xe-typography .paragraph, .xe-typography .hr {
  color: #4F585F;
  font-size: 0.875em; }

.xe-typography h1 {
  font-size: 36px; }

.xe-typography .container-fluid {
  font-family: "OpenSans-regular"; }

.xe-typography .list {
  line-height: 172%; }

.xe-typography .title {
  font-family: "OpenSans-semibold"; }

.xe-typography .inline, .xe-typography .paragraph {
  line-height: 172%; }

.xe-typography .anchor {
  color: #206E9F;
  text-decoration: underline; }

.xe-typography .titlehr {
  width: 5%;
  float: left; }

.xe-typography .typography {
  color: #4F585F; }

.xe-typography .logo-white {
  background-image: url(images/logo-white.svg);
  background-repeat: no-repeat;
  background-color: #206E9F;
  background-size: 5.625em;
  width: 152px;
  height: 58px;
  background-position: 1em 1em; }

.xe-typography .horizontal-row {
  border-color: #4F585F; }

.xeColorsContainer .pri-color1, .xeColorsContainer .pri-color2, .xeColorsContainer .pri-color3, .xeColorsContainer .pri-color4, .xeColorsContainer .sec-color1, .xeColorsContainer .sec-color2, .xeColorsContainer .sec-color3, .xeColorsContainer .sec-color4,
.xeColorsContainer .acc-color1, .xeColorsContainer .acc-color2, .xeColorsContainer .acc-color3, .xeColorsContainer .acc-color4, .xeColorsContainer .grey-color1, .xeColorsContainer .grey-color2, .xeColorsContainer .grey-color3, .xeColorsContainer .grey-color4 {
  height: 6.25em;
  width: 160px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.xeColorsContainer .content {
  height: 6.25em;
  width: 160px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #C5CACF;
  border-left: 1px solid #C5CACF;
  border-bottom: 1px solid #C5CACF; }

.xeColorsContainer .pri-color1 {
  background-color: #206E9F;
  border: 1px solid #0E3C59; }

.xeColorsContainer .pri-color2 {
  background-color: #000000;
  border: 1px solid #000000; }

.xeColorsContainer .pri-color3 {
  background-color: #4F585F;
  border: 1px solid #252628; }

.xeColorsContainer .pri-color4 {
  background-color: #EFF4F8;
  border: 1px solid #E4E9EC; }

.xeColorsContainer .sub-content1, .xeColorsContainer .sub-content2 {
  font-size: 0.875em;
  color: #4F585F;
  padding-left: 0.875em; }

.xeColorsContainer .sub-content1 {
  font-family: "OpenSans-regular"; }

.xeColorsContainer .sub-content2 {
  font-family: "OpenSans-semibold"; }

.xeColorsContainer .sec-color1 {
  background-color: #FFFEEA;
  border: 1px solid #E0D397; }

.xeColorsContainer .sec-color2 {
  background-color: #EBFAFF;
  border: 1px solid #99CDDE; }

.xeColorsContainer .sec-color3 {
  background-color: #058423;
  border: 1px solid #054C16; }

.xeColorsContainer .sec-color4 {
  background-color: #EE4F4F;
  border: 1px solid #EE4F4F; }

.xeColorsContainer .acc-color1 {
  background-color: #FFCDAA;
  border: 1px solid #E19F72; }

.xeColorsContainer .acc-color2 {
  background-color: #DAD5FF;
  border: 1px solid #988DDB; }

.xeColorsContainer .acc-color3 {
  background-color: #C9F0C7;
  border: 1px solid #4EC76A; }

.xeColorsContainer .acc-color4 {
  background-color: #FFDCDC;
  border: 1px solid #F57E7E; }

.xeColorsContainer .grey-color1 {
  background-color: #F7F7F7;
  border: 1px solid #DADADA; }

.xeColorsContainer .grey-color2 {
  background-color: #EFEFEF;
  border: 1px solid #CDCDCD; }

.xeColorsContainer .grey-color3 {
  background-color: #E2E2E2;
  border: 1px solid #B9B9B9; }

.xeColorsContainer .grey-color4 {
  background-color: #D5D5D5;
  border: 1px solid #A9A9A9; }

.ui-select-container {
  font-family: "Open Sans";
  width: 18em; }

.ui-select-container .select2-choice, .ui-select-multiple .select2-choices {
  opacity: 100;
  min-height: 2.75em !important;
  padding-left: 0.75em;
  border-radius: 4px;
  border: 1px solid #B2B3B7; }

.ui-select-multiple .select2-choices {
  min-height: 2.75em !important;
  padding: 0.5em 1.5em 0.5em 0.75em;
  background: url("images/ui-select/dropdown_grey.svg") no-repeat 100% !important;
  height: auto !important;
  background-position: right 0.75em center !important; }

.ui-select-container.select2-container-active > .select2-choice {
  border: 1px solid #026BC8 !important; }

.ui-select-multiple.select2-container-active .select2-choices {
  background: url("images/ui-select/dropdown-open-icon.svg") no-repeat 100% !important;
  border-radius: 4px 4px 0 0;
  background-position: right 0.75em center !important;
  border: 1px solid #026BC8 !important; }

.ui-select-container .select2-choice {
  margin-left: -0.35em;
  background: url("images/ui-select/dropdown_grey.svg") no-repeat 100%;
  filter: none !important;
  background-position: right 0.75em center !important; }

.ui-select-container.select2-dropdown-open .select2-choice {
  box-shadow: none;
  border: 1px solid #026BC8;
  border-radius: 4px 4px 0 0;
  background-position: right 0.75em center !important; }

.ui-select-container.select2-dropdown-open .select2-choice {
  background: none;
  border-bottom: 1px solid #EEEEEF !important;
  background: url("images/ui-select/dropdown-open-icon.svg") no-repeat 100% !important;
  background-position: right 0.75em center !important; }

.ui-select-multiple .select2-choices .select2-search-field input {
  padding: 0.1em 0 0 0;
  position: absolute; }

.ui-select-container .select2-choice .select2-arrow {
  border: none !important;
  background: none !important;
  padding-top: 0.5em !important;
  background-image: none !important;
  filter: none !important; }

.ui-select-container.select2-allowclear .select2-choice abbr.ui-select-clear {
  background: url(images/ui-select/close-single-select.svg) center no-repeat !important;
  margin: auto 8px;
  height: inherit;
  width: 10px;
  background-size: 14px !important;
  top: 0;
  bottom: 0; }

.ui-select-container.select2-allowclear .select2-choice abbr.ui-select-clear:focus {
  outline: 0;
  outline: thin dotted #026BC8;
  outline: #026BC8 auto 2px;
  outline-offset: 1px; }

.ui-select-container .select2-choice .select2-arrow b {
  background-image: none !important; }

.ui-select-multiple .select2-choices .select2-search-choice {
  font-family: OpenSans-semibold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background: #026BC8;
  opacity: 100;
  font-size: 0.75em;
  font-face: OpenSans-Semibold;
  width: auto;
  max-width: 14.38em;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 0.5em;
  margin-left: 0em;
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 0.75em;
  color: #FFFFFF; }

.ui-select-multiple .select2-choices .select2-search-choice > span {
  margin-left: 1em; }

.ui-select-multiple .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: 0px 1px; }

.ui-select-multiple .select2-search-choice-close {
  background: url("images/ui-select/close-icon.svg") no-repeat !important;
  background-position: center !important;
  position: absolute;
  right: inherit;
  left: 0.75em; }

.ui-select-multiple .select2-search-choice-close:hover {
  cursor: pointer; }

.ui-select-container .select2-choice > .select2-chosen {
  color: #151618;
  opacity: 100;
  font-family: OpenSans-semibold;
  font-size: 0.875em;
  line-height: 2.75em; }

.ui-select-dropdown .select2-search input {
  width: 16.5em !important;
  height: 2.75em !important;
  color: #151618;
  font-family: OpenSans-Semibold;
  border-radius: 4px;
  border: 1px solid #B2B3B7 !important;
  background-image: none !important;
  background: url("images/ui-select/search-icon.svg") no-repeat 100% !important;
  background-size: initial !important;
  background-position: right 0.75em center !important; }

.ui-select-multiple .select2-choices .select2-search-field input {
  color: #151618;
  font-family: OpenSans-Semibold; }

.ui-select-multiple .select2-choices .select2-search-field input::-webkit-input-placeholder {
  color: #151618;
  font-size: 0.875em; }

.ui-select-multiple .select2-choices .select2-search-field input:-moz-placeholder {
  /* Firefox 18- */
  color: #151618;
  font-size: 0.875em; }

.ui-select-multiple .select2-choices .select2-search-field input::-moz-placeholder {
  /* Firefox 19+ */
  color: #151618;
  font-size: 0.875em; }

.ui-select-multiple .select2-choices .select2-search-field input:-ms-input-placeholder {
  color: #151618;
  font-size: 0.875em; }

.ui-select-dropdown .select2-search {
  /*padding-left: 0.75em !important;*/ }

.ui-select-dropdown {
  /*padding-top: 0.75em !important;*/
  margin-top: 0px !important;
  margin-left: -0.35em;
  width: 18.35em;
  border-color: #026BC8 !important;
  border-style: solid;
  border-width: 0px 1px 1px 1px; }

.ui-select-multiple .ui-select-dropdown {
  margin-top: -2px !important;
  padding-top: 0em !important;
  margin-left: 0em;
  width: inherit; }

.ui-select-choices {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px !important;
  margin-top: 0.75em;
  border-top: 1px solid #026BC8;
  margin-bottom: 0; }

.ui-select-choices li {
  border-bottom: 1px solid #EEEEEF; }

.ui-select-choices ul li {
  height: calc(100% - (30px + 20px));
  line-height: 2.75em;
  padding-left: 0.75em;
  color: #151618; }

.ui-select-choices ul li:first-child {
  border-top: 1px solid #EEEEEF; }

.ui-select-choices ul li:last-child {
  border-bottom: none; }

.ui-select-choices .select2-result-label {
  padding: 0 0 0 0 !important;
  font-size: 0.875em;
  font-family: OpenSans-regular; }

.ui-select-choices li.ui-select-choices-group {
  border-bottom: none; }

.ui-select-choices .select2-highlighted {
  background: #026BC8 100%;
  border: 1px solid #EEEEEF;
  color: #FFFFFF;
  opacity: 100; }

.ui-select-choices li.ui-select-choices-group > .ui-select-choices-group-label {
  padding: 0.5em 0 0 0.75em !important;
  color: #151618;
  background: #EEEEEF;
  margin-bottom: 0.75em; }

.ui-select-choices ul li:hover {
  background: #F7F7F7;
  border-color: #EEEEEF;
  color: #151618; }

.ui-select-container .select2-choice > .select2-chosen .ng-binding {
  color: #151618;
  opacity: 100; }

.ui-select-highlight {
  font-weight: bold; }

.ui-select-choices span[ng-switch-when='true'] {
  background: url("images/ui-select/spinner.gif") no-repeat;
  height: 100px;
  width: 100px;
  display: block; }

.ui-select-highlight {
  font-weight: bold; }

.select2-result-single {
  padding-left: 0; }

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important; }

.ui-select-choices .select2-no-results {
  font-family: OpenSans-Semibold;
  color: #151618;
  opacity: 100;
  font-size: 0.875em;
  padding: 0.75em 0 0.75em 0.75em;
  padding-left: 0.75em;
  background-color: #FFFFFF; }

.ui-select-multiple .select2-choices .select2-search-field {
  padding-top: 0.3em; }

.select2-search-choice-focus {
  background: #EEEEEF !important; }

/* Handle up direction Select2 */
.ui-select-container[theme="select2"].direction-up .ui-select-match {
  border-radius: 4px;
  /* FIXME hardcoded value :-/ */
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.ui-select-container[theme="select2"].direction-up .ui-select-dropdown {
  border-radius: 4px;
  /* FIXME hardcoded value :-/ */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #026BC8;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  margin-top: -4px;
  /* FIXME hardcoded value :-/ */ }

.ui-select-container[theme="select2"].direction-up .ui-select-dropdown .select2-search {
  margin-top: 4px;
  /* FIXME hardcoded value :-/ */ }

.ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match {
  border-color: #026BC8 !important;
  border-style: solid;
  border-width: 0px 1px 1px 1px !important; }

.select2-choices li:last-child {
  padding-right: 1em; }

.ui-select-search-hidden {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: none; }

.select2-results {
  margin: 0px 4px 4px 0 !important;
  border-top: none; }

.uiselect-hidden-accessible {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0; }

.uiselect-choice-status-hidden-accessible {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0; }

.search-container {
  margin-left: 0px !important; }

li.ui-select-choices-row {
  word-wrap: break-word; }

/*
.select2-highlighted{
  background: #F1F4F6 100%;
}*/
.search-container {
  position: relative;
  display: inline-block;
  margin-left: 0.625em;
  margin-right: 1.125em;
  vertical-align: middle;
  line-height: normal; }
  .search-container .simple-input-field {
    padding-right: 2.5em;
    background-image: url("images/search.svg");
    background-position: 95%,50%;
    background-repeat: no-repeat;
    background-size: 1.25em; }
    .search-container .simple-input-field:focus {
      background-image: url("images/search-active.svg"); }

@media only screen and (max-width: 768px) {
  .search-container .simple-input-field {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    width: 1.7em;
    height: 1.7em;
    background-size: 1.7em;
    color: transparent; }
    .search-container .simple-input-field::-webkit-input-placeholder {
      color: transparent; }
    .search-container .simple-input-field::-moz-placeholder {
      color: transparent; }
    .search-container .simple-input-field::-ms-input-placeholder {
      color: transparent; }
    .search-container .simple-input-field:focus {
      border-radius: 4px;
      border: 1px solid #B2B3B7;
      box-shadow: inset 4px 4px 4px #E2EAEF;
      -webkit-box-shadow: inset 4px 4px 4px #E2EAEF;
      -moz-box-shadow: inset 4px 4px 4px #E2EAEF;
      padding: .679em;
      width: 18.75em;
      height: auto;
      color: #4F585F; }
      .search-container .simple-input-field:focus::-webkit-input-placeholder {
        color: #ccc; }
      .search-container .simple-input-field:focus::-moz-placeholder {
        color: #ccc; }
      .search-container .simple-input-field:focus::-ms-input-placeholder {
        color: #ccc; } }

@media only screen and (max-width: 320px) {
  .search-container .simple-input-field:focus {
    width: 100%; } }

.pagination-container {
  padding: 1em;
  overflow: hidden;
  width: 100%;
  font-size: 0.875em; }

.pagination-container label {
  font-weight: normal; }

.pagination-container .results-container {
  float: left ;
  line-height: 4.1em;
  margin-left: 1.125em; }

.pagination-container .pagination-controls {
  float: right ; }

.pagination-container button.secondary {
  font-size: 100%; }

.ie9 .pagination-container button:disabled {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.pagination-container .pagination-controls button,
.pagination-container .pagination-controls input,
.pagination-container .pagination-controls select {
  padding: 0.8em;
  text-align: center;
  border: 1px solid #026BC8;
  width: 3.500em;
  margin: 0.5em; }

.pagination-container .pagination-controls button,
.pagination-container .pagination-controls select {
  border-radius: 0.5em;
  background-color: #FFFFFF; }

.pagination-container .pagination-controls button {
  color: transparent;
  background-size: 0.875em;
  background-repeat: no-repeat;
  background-position: center; }

.pagination-container .pagination-controls button.first {
  background-image: url("images/pagination-start-normal.svg"); }

.pagination-container .pagination-controls button.first:disabled {
  background-image: url("images/pagination-start-normal-hover.svg"); }

.pagination-container .pagination-controls button.first:hover, .pagination-container .pagination-container .pagination-controls button.first:disabled {
  background-image: url("images/pagination-start-normal-hover.svg");
  border: none; }

.pagination-controls button.first:focus {
  border: 2px solid #81C8FF;
  background-image: url("images/pagination-start-normal-hover.svg"); }

.pagination-container .pagination-controls button.previous {
  background-image: url("images/pagination-previous-normal.svg"); }

.pagination-container .pagination-controls button.previous:hover, .pagination-controls button.previous:disabled {
  background-image: url("images/pagination-previous-normal-hover.svg");
  border: none; }

.pagination-container .pagination-controls button.previous:focus {
  background-image: url("images/pagination-previous-normal-hover.svg");
  border: 2px solid #81C8FF; }

.pagination-container .pagination-controls button.next {
  background-image: url("images/pagination-next-normal.svg"); }

.pagination-container .pagination-controls button.next:hover, .pagination-container .pagination-controls button.next:disabled {
  background-image: url("images/pagination-next-normal-hover.svg");
  border: none; }

.pagination-container .pagination-controls button.next:focus {
  background-image: url("images/pagination-next-normal-hover.svg");
  border: 2px solid #81C8FF; }

.pagination-container .pagination-controls button.last {
  background-image: url("images/pagination-end-normal.svg"); }

.pagination-container .pagination-controls button.last:hover, .pagination-container .pagination-controls button.last:disabled {
  background-image: url("images/pagination-end-normal-hover.svg");
  border: none; }

.pagination-container .pagination-controls button.last:focus {
  background-image: url("images/pagination-end-normal-hover.svg");
  border: 2px solid #81C8FF; }

.pagination-container .pagination-controls button:disabled, .pagination-container .pagination-controls select:disabled {
  background-color: #D9D9D9;
  border: none; }

.pagination-container .pagination-controls button:disabled:focus, .pagination-container .pagination-controls button:disabled:hover {
  background-color: #D9D9D9;
  border: none; }

.pagination-container .pagination-controls select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: auto;
  min-width: 4.750em;
  padding-right: 2em;
  background-color: #FFFFFF; }
  .pagination-container .pagination-controls select::-ms-expand {
    display: none; }

.ie9 .pagination-container .pagination-controls select {
  padding-right: 1em; }

.pagination-container .pagination-controls .page-of label:first-child,
.pagination-container .pagination-controls .per-page label {
  margin-left: 0.625em; }

.pagination-container .pagination-controls .page-of label:last-child {
  margin-right: 0.625em; }

.pagination-container .pagination-controls .per-page-select {
  background-image: url(images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 1em;
  outline: none;
  border: 1px solid #B2B3B7;
  background-position: right 5px center; }

.pagination-container .pagination-controls .per-page-select:focus {
  background-image: url(images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 1em;
  outline: none;
  border: 2px solid #81C8FF;
  background-position: right 5px center; }

.no-data.modern .pagination-container .pagination-controls .per-page-select {
  opacity: 0.5; }

.pagination-container .pagination-controls button {
  width: 4em;
  height: 3.5em; }

.pagination-container #pageInput {
  -moz-appearance: textfield; }
  .pagination-container #pageInput::-webkit-inner-spin-button, .pagination-container #pageInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; }

.pagination-container #pageInput.ng-invalid.ng-touched {
  background: none;
  box-shadow: none; }

.pagination-container * {
  vertical-align: middle; }

.pagination-container {
  padding: 1em;
  overflow: hidden;
  width: 100%;
  font-size: 0.875em; }

.pagination-container label {
  font-weight: normal; }

.pagination-container .results-container {
  float: left ;
  line-height: 4.1em;
  margin-left: 1.125em; }

.pagination-container .pagination-controls {
  float: right ; }

.pagination-container button.secondary {
  font-size: 100%; }

.ie9 .pagination-container button:disabled {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.pagination-container .pagination-controls button,
.pagination-container .pagination-controls input,
.pagination-container .pagination-controls select {
  padding: 0.8em;
  text-align: center;
  border: 1px solid #026BC8;
  width: 3.500em;
  margin: 0.5em; }

.pagination-container .pagination-controls button,
.pagination-container .pagination-controls select {
  border-radius: 0.5em;
  background-color: #FFFFFF; }

.pagination-container .pagination-controls button {
  color: transparent;
  background-size: 0.875em;
  background-repeat: no-repeat;
  background-position: center; }

.pagination-container .pagination-controls button.first {
  background-image: url("images/pagination-start-normal.svg"); }

.pagination-container .pagination-controls button.first:disabled {
  background-image: url("images/pagination-start-normal-hover.svg"); }

.pagination-container .pagination-controls button.first:hover, .pagination-container .pagination-container .pagination-controls button.first:disabled {
  background-image: url("images/pagination-start-normal-hover.svg");
  border: none; }

.pagination-controls button.first:focus {
  border: 2px solid #81C8FF;
  background-image: url("images/pagination-start-normal-hover.svg"); }

.pagination-container .pagination-controls button.previous {
  background-image: url("images/pagination-previous-normal.svg"); }

.pagination-container .pagination-controls button.previous:hover, .pagination-controls button.previous:disabled {
  background-image: url("images/pagination-previous-normal-hover.svg");
  border: none; }

.pagination-container .pagination-controls button.previous:focus {
  background-image: url("images/pagination-previous-normal-hover.svg");
  border: 2px solid #81C8FF; }

.pagination-container .pagination-controls button.next {
  background-image: url("images/pagination-next-normal.svg"); }

.pagination-container .pagination-controls button.next:hover, .pagination-container .pagination-controls button.next:disabled {
  background-image: url("images/pagination-next-normal-hover.svg");
  border: none; }

.pagination-container .pagination-controls button.next:focus {
  background-image: url("images/pagination-next-normal-hover.svg");
  border: 2px solid #81C8FF; }

.pagination-container .pagination-controls button.last {
  background-image: url("images/pagination-end-normal.svg"); }

.pagination-container .pagination-controls button.last:hover, .pagination-container .pagination-controls button.last:disabled {
  background-image: url("images/pagination-end-normal-hover.svg");
  border: none; }

.pagination-container .pagination-controls button.last:focus {
  background-image: url("images/pagination-end-normal-hover.svg");
  border: 2px solid #81C8FF; }

.pagination-container .pagination-controls button:disabled, .pagination-container .pagination-controls select:disabled {
  background-color: #D9D9D9;
  border: none; }

.pagination-container .pagination-controls button:disabled:focus, .pagination-container .pagination-controls button:disabled:hover {
  background-color: #D9D9D9;
  border: none; }

.pagination-container .pagination-controls select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: auto;
  min-width: 4.750em;
  padding-right: 2em;
  background-color: #FFFFFF; }
  .pagination-container .pagination-controls select::-ms-expand {
    display: none; }

.ie9 .pagination-container .pagination-controls select {
  padding-right: 1em; }

.pagination-container .pagination-controls .page-of label:first-child,
.pagination-container .pagination-controls .per-page label {
  margin-left: 0.625em; }

.pagination-container .pagination-controls .page-of label:last-child {
  margin-right: 0.625em; }

.pagination-container .pagination-controls .per-page-select {
  background-image: url(images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 1em;
  outline: none;
  border: 1px solid #B2B3B7;
  background-position: right 5px center; }

.pagination-container .pagination-controls .per-page-select:focus {
  background-image: url(images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 1em;
  outline: none;
  border: 2px solid #81C8FF;
  background-position: right 5px center; }

.no-data.modern .pagination-container .pagination-controls .per-page-select {
  opacity: 0.5; }

.pagination-container .pagination-controls button {
  width: 4em;
  height: 3.5em; }

.pagination-container #pageInput {
  -moz-appearance: textfield; }
  .pagination-container #pageInput::-webkit-inner-spin-button, .pagination-container #pageInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; }

.pagination-container #pageInput.ng-invalid.ng-touched {
  background: none;
  box-shadow: none; }

.pagination-container * {
  vertical-align: middle; }

.column-filter-container {
  display: inline-block;
  line-height: normal;
  position: relative;
  vertical-align: middle; }

.column-filter-button:hover {
  background-image: url("images/show-hide-hover-active.svg"); }

.column-filter-button:active {
  background-image: url("images/show-hide-hover-active.svg"); }

.column-filter-button:focus {
  border: 1px solid #026BC8;
  color: #151618;
  outline: none; }

.column-filter-button {
  background-color: #FFFFFF;
  background-image: url("images/show-hide.svg");
  background-repeat: no-repeat;
  background-size: 1.375em;
  border: 1px solid #B2B3B7;
  border-radius: 4px;
  padding: 0.5em;
  color: #151618;
  padding-left: 2.4em;
  background-position: 0.5em 50%; }

.column-filter-button .placeholder {
  color: #5B5E65;
  margin-right: 0.5em;
  margin-top: 1px; }

.dropdown-icon {
  background: url(images/arrow-down.svg) center no-repeat;
  background-size: .7em .7em;
  width: .7em;
  display: inline-block; }

.column-setting-menu li {
  padding: .875em;
  font-size: 1em;
  border-bottom: 1px solid #EEEEEF;
  vertical-align: middle; }
  .column-setting-menu li.disabled {
    background-color: EFEFEF;
    opacity: 0.5; }

.column-setting-menu li label {
  font-weight: 100; }

.column-setting-menu {
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: 100%;
  min-width: 13.375em;
  right: 0;
  background: none repeat scroll 0 0 white;
  border-color: #ccc #ddd #ddd;
  border-right: 1px solid #ddd;
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  border-radius: 4px;
  max-height: 19.625em;
  overflow: auto;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; }

.xe-checkbox label, .xe-checkbox.checked label, .xe-checkbox:focus label {
  font-family: "OpenSans-regular"; }

.column-setting-menu::after {
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 11px;
  top: -4px; }

.column-setting-menu::before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 10px;
  top: -7px; }

@media only screen and (max-width: 768px) {
  .column-filter-button {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 1.7em;
    height: 1.7em;
    padding: 0;
    background-position: center;
    background-size: 1.7em; }
  .dropdown-icon {
    display: none;
    padding: 0; }
  .column-filter-button .placeholder {
    display: none; }
  .filter-icon {
    margin-right: 0; }
  .column-setting-menu {
    right: 0;
    width: 13.375em; }
  .column-filter-container {
    line-height: 0; } }

.datatable_spacing {
  margin-bottom: 6%; }

.table-container {
  border: 1px solid #EEEEEF;
  position: relative;
  background-color: #FFFFFF; }
  .table-container .data-table {
    width: 100%;
    border-collapse: separate;
    border: 0; }
  .table-container .caption caption {
    font-size: 1em;
    line-height: 4.5;
    height: 4.5em;
    padding-left: 1.125em;
    padding-right: 1.125em;
    text-align: left;
    color: #151618;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
    position: absolute; }
    .table-container .caption caption .caption-container {
      float: left ; }
    .table-container .caption caption .toolbar {
      display: inline-block;
      float: right ; }
      .table-container .caption caption .toolbar .search-container {
        margin-right: 0; }
  .table-container .hr-scrollable-content {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden; }
  .table-container .thead {
    border-bottom: 1px solid #EEEEEF;
    border-top: 1px solid #EEEEEF; }
  .table-container .thead tr, .table-container .tbody tr {
    text-align: left; }
  .table-container .thead thead tr th, .table-container .tbody thead tr th {
    position: relative;
    height: 3em;
    padding: 0.5em 1em 0.5em 1em;
    color: #151618;
    /*-webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;*/ }
    .table-container .thead thead tr th:last-child:before, .table-container .thead thead tr th:last-child:after, .table-container .tbody thead tr th:last-child:before, .table-container .tbody thead tr th:last-child:after {
      content: none; }
    .table-container .thead thead tr th:before, .table-container .tbody thead tr th:before {
      top: 0; }
    .table-container .thead thead tr th:after, .table-container .tbody thead tr th:after {
      bottom: 0; }
    .table-container .thead thead tr th:after, .table-container .thead thead tr th:before, .table-container .tbody thead tr th:after, .table-container .tbody thead tr th:before {
      content: "";
      height: 100%;
      min-height: 3em;
      width: 5px;
      position: absolute;
      right: 0;
      border: 0;
      border-image: linear-gradient(transparent, #D6DEE5, transparent) 1;
      border-right: 1.5px solid;
      /* cursor: col-resize; */ }
    .table-container .thead thead tr th.sortable, .table-container .tbody thead tr th.sortable {
      cursor: pointer;
      background: url(images/sort.svg) no-repeat;
      background-size: 3.5em 1em;
      background-position: right -10px center;
      padding-right: 2em; }
      .table-container .thead thead tr th.sortable.ascending, .table-container .tbody thead tr th.sortable.ascending {
        background-image: url("images/arrow-sort-down.svg");
        background-size: .7em .5em;
        background-position: right 10px center; }
      .table-container .thead thead tr th.sortable.decending, .table-container .tbody thead tr th.sortable.decending {
        background-image: url("images/arrow-sort-up.svg");
        background-size: .7em .5em;
        background-position: right 10px center; }
  .table-container .trMobile {
    font-family: OpenSans-semibold;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal; }
    .table-container .trMobile .total-row {
      float: left;
      color: #5b5e65; }
    .table-container .trMobile .total-row[total-label]:before {
      content: attr(total-label);
      color: #151618; }
  .table-container .trDesktop tr {
    text-align: left; }
  .table-container .trDesktop thead tr:hover td {
    background-color: #F2F8FC; }
  .table-container .trDesktop thead tr.active-row td {
    background-color: #F8F8F8;
    color: #151618 !important;
    cursor: pointer; }
  .table-container .trDesktop thead tr th {
    color: #151618;
    letter-spacing: -0.25px;
    padding: 0.5em 1em 0.5em 1em;
    font-size: .875em;
    border-bottom: 1px solid #EEEEEF;
    max-width: 0;
    text-overflow: ellipsis;
    overflow: hidden; }
    .table-container .trDesktop thead tr th.active {
      background-color: #F8F8F8; }
  .table-container .tbody {
    overflow-y: auto;
    overflow-x: hidden; }
    .table-container .tbody thead tr {
      height: 0px !important;
      overflow: hidden; }
      .table-container .tbody thead tr th {
        padding-top: 0px;
        padding-bottom: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 0px !important;
        overflow: hidden; }
        .table-container .tbody thead tr th .data {
          height: 0;
          overflow: hidden; }
    .table-container .tbody tbody tr:hover td {
      background-color: #F2F8FC; }
    .table-container .tbody tbody tr.active-row td {
      background-color: #F8F8F8;
      color: #151618 !important;
      cursor: pointer; }
    .table-container .tbody tbody tr td {
      color: #151618;
      letter-spacing: -0.25px;
      padding: 0.5em 1em 0.5em 1em;
      font-size: .875em;
      border-bottom: 1px solid #EEEEEF;
      max-width: 0;
      text-overflow: ellipsis;
      overflow: hidden; }
      .table-container .tbody tbody tr td.active {
        background-color: #F8F8F8; }
      .table-container .tbody tbody tr td input[type="checkbox"] {
        width: unset; }
      .table-container .tbody tbody tr td input {
        width: 100%; }
  .table-container .tfoot.pagination-container {
    border-top: 1px solid #EEEEEF; }
  .table-container.no-data:not(.empty) .tbody #msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .table-container.empty .caption, .table-container.empty .thead, .table-container.empty .tfoot {
    display: none !important; }
  .table-container.empty .tbody #msg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%); }
  .table-container .width-animate {
    transition-property: width;
    -moz-transition-property: width;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out; }
  .table-container th.focus-ring {
    outline: 1px solid #026BC8;
    -ms-user-select: none; }
  .table-container tr.active-row td.focus-ring {
    outline: 1px solid #026BC8;
    -ms-user-select: none; }
  .table-container .load-indicator {
    position: absolute;
    left: 50%;
    height: auto;
    top: 50%;
    background-color: rgba(32, 110, 159, 0.6);
    text-align: center;
    padding: 1em;
    margin-left: -51px;
    margin-top: -28.5px;
    overflow: hidden;
    border-radius: 10px;
    width: 102px; }
    .table-container .load-indicator .text {
      display: inline-block;
      color: #FFFFFF;
      font-weight: bold; }
    .table-container .load-indicator .spinner {
      width: 70px;
      text-align: center; }
      .table-container .load-indicator .spinner > div {
        width: 15px;
        height: 15px;
        background-color: #FFFFFF;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
      .table-container .load-indicator .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s; }
      .table-container .load-indicator .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s; }
  .table-container:not(.fixed-height) .tbody {
    min-height: 16em; }
  .table-container:not(.fixed-height) .load-indicator {
    position: fixed; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(359deg); } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

/*.data-table thead label{
    margin: 0;
    width: 100%;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: normal;
    word-wrap: break-word;
}*/
/****************** Drag and Drop ******************/
#dragtable {
  position: absolute;
  z-index: 500; }

.dragged {
  opacity: 0; }

.drag-enter {
  opacity: 0.3; }

[draggable] {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

#dragtable th, #dragtable td {
  width: 15em;
  height: 3em;
  padding: 0.5em;
  background: #CAD5DE !important; }

/****************** END: Drag and Drop ******************/
@media only screen and (max-width: 768px) {
  .table-container {
    border-right: 0;
    border-left: 0;
    /* Hide table headers (but not display: none;, for accessibility) */ }
    .table-container .caption {
      border-bottom: 1px solid #EEEEEF; }
      .table-container .caption caption.search-opened .caption-container, .table-container .caption caption.search-opened xe-toolbar, .table-container .caption caption.search-opened .column-filter-container {
        /*display: none !important;*/ }
    .table-container .thead {
      border: none; }
      .table-container .thead tr {
        position: absolute !important;
        top: -9999px;
        left: -9999px; }
    .table-container .tbody thead {
      display: none; }
    .table-container .tbody tbody tr {
      border-bottom: 1px solid #EEEEEF; }
      .table-container .tbody tbody tr td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding: 0.5em 0.5em 0.5em 50%;
        max-width: none; }
        .table-container .tbody tbody tr td:before {
          /* Now like a table header */
          position: absolute;
          left: 1.125em;
          width: 45%;
          padding-right: 0.3em;
          white-space: nowrap;
          content: attr(data-title);
          font-weight: bold; }
    .table-container .data-table {
      border-spacing: 0;
      border-collapse: collapse;
      /* Force table to not be like tables anymore */ }
      .table-container .data-table.noMobileLayout thead, .table-container .data-table.noMobileLayout tbody, .table-container .data-table.noMobileLayout th, .table-container .data-table.noMobileLayout td, .table-container .data-table.noMobileLayout tr {
        display: block; }
      .table-container .data-table.mobileLayout tbody tr td {
        float: left ;
        border: none;
        padding: 0.2em 0.5em; }
        .table-container .data-table.mobileLayout tbody tr td:before {
          position: initial; }
        .table-container .data-table.mobileLayout tbody tr td.align-right {
          text-align: right; }
        .table-container .data-table.mobileLayout tbody tr td.single-column {
          width: calc((100%/3) - 0.1em); }
        .table-container .data-table.mobileLayout tbody tr td.two-columns {
          width: calc((100%/2) - 0.1em); }
        .table-container .data-table.mobileLayout tbody tr td.all-columns {
          width: 100%; }
  .datatable_spacing {
    margin-bottom: 10%; } }

@media only screen and (max-width: 512px) and (orientation: portrait) {
  .datatable_spacing {
    margin-bottom: 17%; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .datatable_spacing {
    margin-bottom: 10%; } }

.xe-tab-container {
  font-size: 12px; }

.xe-tab-content {
  clear: both; }

.xe-tab-container a:focus {
  outline: none;
  border: 1px solid #81C8FF;
  /*EDS*/ }

.xe-tab-container .xe-tab-nav {
  list-style: none;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid #EEEEEF; }

.xe-tab-container .xe-tab-nav > li {
  display: table-cell;
  text-align: center;
  cursor: pointer; }

.xe-tab-container .xe-tab-nav > li > a {
  font-family: "Open Sans";
  display: block;
  text-decoration: none;
  font-size: 0.875em;
  color: #5B5E65;
  height: 3.375em;
  line-height: 3.375em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative; }

.xe-tab-container .xe-tab-nav > li a > span {
  background-color: transparent;
  content: "";
  display: block;
  height: 0em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -o-transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out; }

.xe-tab-container .xe-tab-nav > li.active > a,
.xe-tab-container .xe-tab-nav > li.active:focus > a,
.xe-tab-container .xe-tab-nav > li.active:hover > a,
.xe-tab-container .xe-tab-nav > li.active:active > a {
  color: #026BC8;
  font-weight: bold; }

.xe-tab-container .xe-tab-nav > li:focus a > span,
.xe-tab-container .xe-tab-nav > li:hover a > span,
.xe-tab-container .xe-tab-nav > li:active a > span {
  background-color: #026BC8;
  height: 0.313em; }

.xe-tab-container .xe-tab-nav > li:focus > a,
.xe-tab-container .xe-tab-nav > li:hover > a,
.xe-tab-container .xe-tab-nav > li:active > a {
  font-weight: bold;
  color: #026BC8; }

.xe-tab-container .xe-tab-nav > li.active a > span,
.xe-tab-container .xe-tab-nav > li.active:focus a > span,
.xe-tab-container .xe-tab-nav > li.active:hover a > span,
.xe-tab-container .xe-tab-nav > li.active:active a > span {
  background-color: #026BC8;
  height: 0.313em; }

.xe-tab-container .xe-tab-content > .xe-tab-panel {
  display: none; }

.xe-tab-container .xe-tab-content > .xe-tab-panel.active {
  display: block; }

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .xe-tab-container .xe-tab-nav > li {
    display: auto;
    width: auto;
    max-width: 25%;
    float: left ; }
  .xe-tab-container .xe-tab-nav > li > a {
    padding: 0 2.5em; } }

@media only screen and (min-width: 768px) {
  .xe-tab-container .xe-tab-nav > li {
    display: auto;
    width: auto;
    max-width: 25%;
    float: left ; }
  .xe-tab-container {
    font-size: 14px;
    padding: 0 1.875em; }
  .xe-tab-container .xe-tab-nav > li > a {
    font-size: 1em;
    height: 4.5em;
    line-height: 4.5em; }
  .xe-tab-container .xe-tab-nav > li > a {
    padding: 0 2.5em; } }

@media only screen and (min-width: 1025px) {
  .xe-tab-container {
    padding: 0 2.5em; }
  .xe-tab-container .xe-tab-nav > li > a {
    height: 5.25em;
    line-height: 5.25em; } }

.xe-pie-chart {
  width: 100%;
  height: 100%;
  position: relative;
  display: block; }

.xe-pie-chart .xe-pie-tooltip {
  background: #FFFEEA;
  border: 0.0625em solid #E0D397;
  color: #4F585F;
  display: none;
  font-size: 0.875em;
  padding: 0.5em;
  position: absolute;
  text-align: center;
  width: 6.25em;
  z-index: 10;
  word-break: break-word;
  word-wrap: break-word; }

.xe-pie-chart .xe-pie-tooltip p {
  margin: 0;
  padding: 0; }

.xe-pie-chart .xe-pie-table-hidden {
  position: absolute;
  left: -625em;
  top: auto;
  width: 0.0625em;
  height: 0.0625em;
  overflow: hidden; }

.xe-pie-chart path.xe-pie-slice,
.xe-pie-chart path.xe-pie-sub-slice {
  stroke-width: 0.03125em; }

.xe-pie-chart polyline {
  stroke-width: 0.063em;
  fill: none; }

.xe-pie-large-text,
.xe-pie-small-text {
  fill: #4f585f; }

.xe-pie-large-text.xe-pie-other-text tspan {
  fill: #206e9f;
  text-decoration: underline; }

.xe-pie-chart .xe-pie-large-text {
  font-size: 0.740em; }

.xe-pie-chart .xe-pie-small-text {
  font-size: 0.563em; }

.xe-pie-chart .xe-pie-bold-text {
  font-family: 'OpenSans-semibold', sans-serif; }

.xe-pie-chart .xe-pie-light-text {
  font-family: 'OpenSans-light', sans-serif; }

.xe-pie-chart .xe-pie-touch {
  stroke: red !important; }

.xe-pie-chart .xe-pie-total-value {
  font-family: OpenSans-Semibold;
  font-size: 1em;
  fill: #4F585F; }

.xe-pie-chart .xe-pie-total-label {
  font-family: OpenSans-regular;
  font-size: 0.875em;
  fill: #4F585F; }

.xe-pie-chart .xe-slice-on {
  stroke: black; }

.xe-popup-mask {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  font-size: 16px; }

.xe-popup-wrapper {
  display: table-cell;
  vertical-align: middle; }

.xe-popup-container {
  position: relative;
  height: 100%;
  overflow-y: auto;
  margin: auto;
  padding-top: 1em;
  background-color: #fff; }

.xe-popup-container .xe-popup-close {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 1.5em;
  width: 1em;
  height: 1em;
  background: white url("images/about/close.svg") no-repeat center; }

.xe-popup-container .xe-app-title {
  margin: 0 0 0.8em;
  color: black;
  font-size: 1.125em;
  padding-left: 1em;
  font-family: OpenSans-semibold; }

.xe-popup-container .xe-app-title label {
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

.xe-popup-container .xe-popup-header {
  padding: 0 0 0em; }

.xe-popup-container .xe-modal-body {
  padding: 2em 0 2em 1.5em; }

.xe-popup-container .xe-modal-body .xe-title {
  margin: 0;
  color: #4F585F;
  font-size: 0.875em;
  font-family: OpenSans-semibold; }

.xe-popup-container .xe-modal-body strong {
  font-family: OpenSans-bold; }

.xe-popup-container .xe-pop-content {
  font-size: 0.750em;
  color: #4F585F;
  margin-top: 2em;
  position: relative;
  min-height: 75%;
  padding-left: 1.5em;
  padding-right: 1em; }

@media screen and (min-width: 768px) {
  .xe-popup-mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 16px; }
  .xe-popup-container {
    width: 40em;
    height: 26em !important;
    padding: 1.5em;
    border-radius: 6px;
    padding: 1.5em;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.5); }
  .xe-popup-container:after {
    content: " ";
    display: block;
    height: 0;
    clear: both; }
  .xe-popup-container .xe-pop-content {
    font-size: 1.5em;
    color: #4F585F;
    margin-top: 2em;
    position: relative;
    min-height: 75%;
    padding-left: 0em !important;
    padding-right: 1em; }
  .xe-popup-container .xe-app-title {
    padding-left: 0em; }
  .xe-popup-container .xe-popup-close {
    padding: 1.5em;
    border-radius: 0 6px 0 0;
    width: auto;
    height: auto; }
  .xe-popup-container .xe-popup-header {
    padding: 0 0 0em;
    margin-right: 3em; }
    .xe-popup-container .xe-popup-header span#xePopupClose:focus {
      outline: 1px solid #4d90fe;
      -ms-user-select: none; }
  .xe-popup-header {
    padding-left: 1em; }
  .xe-popup-container .xe-modal-body .xe-title {
    margin: 0 0 1.5em;
    font-size: 1.125em; }
  .xe-popup-container .xe-pop-content {
    font-size: 0.875em;
    margin: 2em 0 0;
    position: relative;
    padding-left: 0.5em;
    /*padding-right:0.5em;*/ } }

.xe-modal-mask {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  font-size: 16px; }

.xe-modal-wrapper {
  display: table-cell;
  vertical-align: middle; }

.xe-modal-container {
  position: relative;
  height: 100%;
  overflow-y: auto;
  margin: auto;
  padding: 1em;
  background-color: #fff; }

.xe-modal-container .xe-modal-close {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 1.5em;
  width: 1em;
  height: 1em;
  background: white url("images/about/close.svg") no-repeat center; }

.xe-modal-container hr {
  border: none;
  border-top: 1px solid grey;
  margin: 0; }

.xe-modal-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.xe-modal-container .xe-app-title {
  margin: 0;
  color: #000000;
  font-size: 21px;
  font-family: OpenSans-semibold;
  width: auto;
  height: 40px; }

.xe-modal-container .xe-app-version {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #555658;
  width: auto;
  height: 25px; }

.xe-modal-container .xe-platform-version {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #555658;
  width: auto;
  height: 25px; }

.xe-modal-container .xe-modal-header {
  padding: 0 0 2em; }

.xe-modal-container .xe-modal-body {
  padding: 2em 0 2em 1.5em; }

.xe-modal-container .xe-modal-body .xe-title {
  margin: 0;
  color: #4F585F;
  font-size: 0.875em;
  font-family: OpenSans-semibold; }

.xe-modal-container .xe-modal-body strong {
  font-family: OpenSans-bold; }

.xe-modal-container .xe-modal-footer {
  font-size: 12px;
  color: #5b5e65;
  margin-top: 2em; }

.xe-modal-footer .xe-modal-footer-copyright {
  font-family: OpenSans-semibold;
  font-size: 12px; }

.xe-modal-footer .xe-modal-footer-copyright-info {
  font-family: OpenSans-regular; }

@media screen and (min-width: 768px) {
  .xe-modal-mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 16px; }
  .xe-modal-container {
    width: 490px;
    height: auto;
    padding: 30px;
    border: solid 0.8px #979797;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.5); }
  .xe-modal-container .xe-modal-close {
    padding: 1em;
    border-radius: 0 6px 0 0;
    width: auto;
    height: auto; }
  .xe-modal-container .xe-app-title {
    font-size: 21px; }
  .xe-modal-container .xe-app-version {
    font-size: 15px;
    font-family: OpenSans-regular;
    padding: 0 !important; }
  .xe-modal-container .xe-platform-version {
    font-size: 15px;
    font-family: OpenSans-regular;
    padding: 0 !important; }
  .xe-modal-container .xe-modal-header {
    padding: 0 0 1em;
    margin-right: 3em; }
  .xe-modal-container .xe-modal-body .xe-title {
    margin: 0 0 1.5em;
    font-size: 1.125em; }
  .xe-modal-container .xe-modal-footer {
    font-size: 12px;
    margin: 2em 0 0; } }

.ulContainer::-webkit-scrollbar {
  display: none; }

.active-timepickerFocus {
  outline: 2px solid #81C8FF;
  /*EDS*/
  -ms-user-select: none; }

.time-picker-formatter {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 0; }

.rtl24hrsPadding {
  padding-left: 30% !important; }

.rtl12hrsPadding {
  padding-left: 17% !important; }

.rtlhrsPadding {
  padding-left: 8% !important; }

.time-picker-error-margin {
  margin-top: 1.5em; }

.ulContainer {
  -ms-overflow-style: none; }

.ulContainer {
  overflow: -moz-scrollbars-none !important; }

.timepickerButton {
  width: 50px;
  height: 50px; }

.timeTitle {
  margin: 0;
  padding: 1.5em 0 1.5em .5em; }

.added-status {
  display: block !important;
  opacity: 2; }

.cancel {
  display: block;
  position: absolute;
  top: 3px;
  right: 2px;
  background: whitesmoke;
  color: black;
  height: 30px;
  width: 35px;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: bold; }

footer {
  width: 100%; }

.selectTime, .selectTime1 {
  display: inline;
  margin-left: 5%;
  border: none;
  width: 25%;
  height: 100px;
  padding: 5px 0px;
  font-size: 21px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-appearance: none;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  text-align: center; }

.pushme {
  font-weight: bold;
  text-decoration: none;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  background-color: white; }

.pushmeBorder {
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: none; }

.ampmcontainer {
  display: inline;
  margin-left: 5%; }

.ulContainer {
  font-family: OpenSans-Semibold;
  width: 4.125em !important;
  height: 56px !important;
  border-right: none;
  border-bottom: 1px solid #B2B3B7;
  border-top: 1px solid  #B2B3B7;
  padding: 0;
  margin: 0px;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
  list-style: none;
  line-height: 3.5em; }

ul.ulContainer li {
  font-family: OpenSans-semibold;
  font-size: 1em;
  color: #4F585F;
  width: 4.125em !important;
  height: 56px !important; }

.itemContainer {
  width: 4.125em !important;
  height: 56px !important;
  line-height: 3.5em;
  text-align: center;
  position: relative;
  font-family: OpenSans-regular;
  font-size: 1em;
  color: #D4D6D9; }

.itemContainer, .ulContainer, ul.ulContainer li {
  overflow-y: hidden; }

.inputicon {
  width: 1.438em;
  background: url(images/timepicker/Clock-normal.svg) right no-repeat;
  cursor: pointer;
  height: 1.438em;
  border: none;
  position: absolute;
  right: 2%;
  top: 10px; }

.inputIconFocussed {
  width: 1.438em;
  background: url(images/timepicker/Clock-focus.svg) right no-repeat;
  cursor: pointer;
  height: 1.438em;
  border: none;
  position: absolute;
  right: 2%;
  top: 10px; }

.input-container {
  outline: none;
  border: none;
  padding: 0;
  height: 2.50em;
  position: relative;
  z-index: 1; }

.input-outerContainer {
  position: absolute;
  width: 22em;
  float: left;
  min-width: 8em; }

.tickerContainer {
  line-height: 3em;
  width: 4.125em;
  text-align: center;
  height: 56px;
  font-family: OpenSans-semibold; }

.timerHeader {
  width: 100%;
  height: 2em; }

.timerHeader .xe-popup-close {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: .75em;
  width: 1em;
  height: 1em;
  background: white url("images/about/close.svg") no-repeat center; }

.wrappingDiv {
  min-width: 23%;
  float: left;
  box-sizing: border-box; }

.mainContainer {
  width: 100%;
  max-height: 88.50%;
  float: left;
  margin-top: 50%; }

.hrsContainer {
  padding-left: 9%; }

.meridianContainer, .minContainer {
  padding-left: 8%; }

.meridianPm {
  color: #D4D6D9; }

.inputiconContainer {
  display: table-cell;
  vertical-align: middle;
  width: 3.125em; }

/*Media Query*/
.timepickerContainer {
  z-index: 3000;
  position: fixed;
  background-color: white;
  width: 100%;
  left: 0;
  top: 0;
  min-height: 100%;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none; }

.timepickerContainer::after, .timepickerContainer::before {
  display: none; }

.footerButton {
  font-size: .875em;
  width: 50%; }

.footerButton .primary {
  width: 50%;
  height: 44px;
  padding: .8em;
  font-family: OpenSans-Semibold; }

.footerButton .secondary {
  width: 50% !important;
  height: 44px;
  padding: .8em;
  font-family: OpenSans-Semibold;
  border-left: none;
  border-bottom: none; }

.xeTimePickerTextField-readonly {
  background-color: #F7F7F7 !important;
  border: 1px solid #151618 !important;
  color: #5B5E65 !important;
  opacity: 100%; }

.xeTimePickerTextField {
  width: 100%;
  border-radius: 0.25em;
  border: 1px solid #B2B3B7;
  padding: 0.75em !important;
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  font-family: OpenSans-semibold !important;
  font-size: 0.875em !important;
  text-align: left;
  height: 2.75em;
  text-align: left;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #B2B3B7;
  /*EDS*/
  text-align: left; }

.xeTimePickerTextField:focus {
  border: 1px solid #026BC8;
  color: #151618;
  outline: none; }

.timerFooter {
  width: 100%;
  position: fixed;
  bottom: 0px; }

.LTRpadding24hrs {
  padding-left: 26%; }

.LTRpadding12hrs {
  padding-left: 17%; }

.xe-time-container {
  font-size: 16px;
  position: relative;
  height: 2.75em; }

.LTRpadding24hrsUlContainer, LTRpadding24hrsItemContainer {
  width: 5.125em !important; }

.LTRpadding24hrsUlContainer li {
  width: 5.125em !important; }

.inputicon:focus, .inputicon:active {
  outline: none; }

ul.ulContainer:focus {
  outline: none;
  border-style: none;
  -ms-user-select: none; }

ul.ulContainer li:focus {
  outline: none;
  border-style: none;
  -ms-user-select: none; }

.dropup {
  top: -16em; }
  .dropup .timepickerContainer::after, .dropup .timepickerContainer::before {
    display: none; }

@media only screen and (min-width: 768px) {
  .rtl12hrsPadding {
    padding-left: 8% !important; }
  .rtl24hrsPadding {
    padding-left: 26% !important; }
  .timepickerContainer {
    width: 288px !important;
    top: 3em;
    height: auto;
    left: auto;
    position: absolute;
    z-index: 10;
    background: #ffffff;
    border: solid 1px #026BC8;
    border-radius: .429em; }
  .timepickerContainer::after,
  .timepickerContainer::before {
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 6.5em; }
  .timepickerContainer::after {
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 1;
    margin-top: 1px; }
  .timepickerContainer::before {
    border-bottom: 13px solid #026BC8;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    margin-top: -3px;
    margin-left: -3px;
    z-index: -100; }
  .footerButton {
    padding: 0px !important; }
  .footerButton .secondary {
    border-radius: 0px 0px  0px .429em; }
  .footerButton .primary {
    border-radius: 0px 0px .429em 0px; }
  .mainContainer {
    margin: 1em 0 1em 0; }
  .timerFooter {
    position: static; }
  .hrsContainer {
    padding-left: 1.56em; }
  .minContainer {
    padding-left: 1.25em; }
  .LTRpadding24hrs {
    padding-left: 23%; }
  .LTRpadding12hrs {
    padding-left: 9%; }
  .dropup {
    top: -16em; }
  .dropup::after, .dropup::before {
    display: none; } }

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .mainContainer {
    margin-top: 9%;
    margin-left: 5%; } }

/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .mainContainer {
    margin-top: 12%; } }

.xe-bar-chart {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block; }

.xe-bar-tooltip {
  background: #FFFEEA;
  border: 0.0625em solid #E0D397;
  color: #4F585F;
  display: none;
  font-family: 'OpenSans-regular', sans-serif;
  font-size: 0.7em;
  padding: 0.5em;
  position: absolute;
  text-align: center;
  width: 5.25em;
  z-index: 10;
  word-break: keep-all;
  word-wrap: break-word; }

.xe-bar-rect {
  stroke-width: 2; }

.y.xe-bar-axis text {
  font-family: OpenSans-regular;
  font-size: 0.75em;
  fill: #9B9B9B; }

.x.xe-bar-axis text {
  font-family: OpenSans-regular;
  font-size: 0.75em;
  fill: #4A4A4A; }

.x.xe-bar-axis path {
  fill: none;
  stroke: #000000;
  stroke-linecap: round; }

.xe-bar-title {
  font-family: OpenSans-Semibold;
  font-size: 0.75em;
  fill: #4A4A4A; }

.y.xe-bar-axis path {
  display: none; }

.xe-bar-label {
  font-family: OpenSans-regular;
  fill: #000000;
  font-size: 0.75em; }

.y.xe-bar-axis .tick line {
  stroke-width: 1;
  stroke: #DEE5E7; }

.xe-rect-on {
  stroke: black; }

/*# sourceMappingURL=xe-ui-components.css.map */