<%@ page contentType="text/html;charset=UTF-8" %>

<html>
<head>
    <title>Upload</title>
</head>

<body>


<form method="post" action="ssb/imaging/upload" controller="imaging" enctype="multipart/form-data">
    <input type="text" name="posnDescId" value="126">
    <input type="text" name="docType" value="COBRA FORMS">
    <input type="file" name="bdmFile" >
    <input type="submit" value="submit">

</form>

</body>
</html>